<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
        <link rel="icon" href="/img/weather.png.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="potrait" src="/img/me.jpg">
            <h2>chesindhi maname ....</h2>
            <h3>-{{name}}</h3>
        </div>
    
        {{>footer}}
    </body>

</html>